* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* default css */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}
img {
  width: 100%;
  vertical-align: middle;
}
.fix {
  overflow: hidden;
}
.row {
  margin: 0 -15px;
}
.col-4 {
  width: 33.33%;
  padding: 0 15px;
}
.col-8 {
  width: 66.66%;
  padding: 0 15px;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* default css end */

/* cta area starts */
.cta-area {
  background: #4272d7;
  padding: 30px 0;
}
.cta-area p {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-top: 8px;
}
.cta-area p span {
  font-size: 30px;
}
.cta-button {
}
.cta-button a {
  border: 2px solid #fff;
  padding: 18px 45px;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
/* cta area ends */
