* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}
img {
  width: 100%;
  vertical-align: middle;
}
.fix {
  overflow: hidden;
}
/* sliders area start */
.slider-area {
  width: 100%;
}
.single-slider {
  width: 100%;
  text-align: center;
  padding: 175px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.single-slider h2 {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.single-slider h4 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
.single-slider a {
  background: #4272d7;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
}

/* owl carousel style start*/
.owl-nav {
}
.owl-nav button {
  display: block !important;
  color: #fff !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: red !important;
  position: absolute;
  top: 50%;
}
.owl-nav button.owl-next {
  right: 50px;
  left: auto;
}
.owl-nav button.owl-prev {
  left: 50px;
}
.owl-dots {
  height: 0;
}
.owl-dot {
  width: 15px;
  height: 15px;
  background: #5959df !important;
  border-radius: 100%;
  margin: 0 2px;
  display: inline-block;
  position: relative;
  z-index: 99999999999999 !important;
  bottom: 40px;
  transform: translateX(-50%);
  left: 50%;
}
.owl-dot.active {
  background: white !important;
  width: 17px;
  height: 17px;
}

/* owl carousel style end*/

/* sliders area end */
