* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* default css */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}
img {
  width: 100%;
  vertical-align: middle;
}
.fix {
  overflow: hidden;
}
.row {
  margin: 0 -15px;
}
.col-4 {
  width: 33.33%;
  padding: 0 15px;
}
.col-8 {
  width: 66.66%;
  padding: 0 15px;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* default css end */

/* features area stars */
.features-area {
  padding: 70px 0;
}

.single-features {
  position: relative;
  overflow: hidden;
}

.features-img {
}

.features-content {
  position: absolute;
  top: 0;
  left: 0;
  background: #507bd6;
  /*    height: 100%;*/
  bottom: 0;
  transition: all 0.3s;
  padding: 30px;
  transform: translateY(68%);
  right: 0;
}

.feature-icon {
  margin-bottom: 30px;
}

.feature-icon i {
  font-size: 30px;
  color: #fff;
  display: inline-block;
}

.feature-icon h3 {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-left: 20px;
}

.features-content p {
  color: #e5e5e5;
  line-height: 25px;
}

.features-content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.features-content a i {
  margin-right: 10px;
}

.single-features:hover .features-content {
  transform: translateY(0);
}

/* features area ends */
